[data-testid="stSidebarCollapsedControl"] svg {
  height: 2.5rem;
  width: 2.5rem;
}

[data-testid="stSidebarCollapsedControl"] button:before {
  content: "MENU";
  padding-left: 1rem;
  font-size: 20px;
}

.dataframe td,
.dataframe th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

/** Prevent columns to go vertical on mobile mode */
@media (max-width: 640px) {
  .st-emotion-cache-j5r0tf {
    min-width: 0%;
  }
  .st-emotion-cache-52v4ru {
    min-width: 0%;
  }
}

.submit_button:hover {
  border: 1px solid #ff4b4b;
  color: #ff4b4b;
}

.submit_button:active,
.submit_button:focus {
  background-color: #ff4b4b;
  color: white;
  border: 1px solid #ff4b4b;
}

.submit_button {
  background-color: white;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 1em;
  color: #000;
}

.element-container:has(#button-after) + div button {
  position: fixed;
  width: 160px;
  right: 0;
  top: 100;
  border: 1px solid red;
  background-color: #fff;
  color: #000;
}
